Client/src/nl/se42/client/auction.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.auction/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.auction/" name="AuctionServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.auction/" schemaLocation="http://localhost:8080/auction?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"></part>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"></part>
</message>
<message name="newBid">
<part name="parameters" element="tns:newBid"></part>
</message>
<message name="newBidResponse">
<part name="parameters" element="tns:newBidResponse"></part>
</message>
<message name="offerItem">
<part name="parameters" element="tns:offerItem"></part>
</message>
<message name="offerItemResponse">
<part name="parameters" element="tns:offerItemResponse"></part>
</message>
<message name="getMoneyObject">
<part name="parameters" element="tns:getMoneyObject"></part>
</message>
<message name="getMoneyObjectResponse">
<part name="parameters" element="tns:getMoneyObjectResponse"></part>
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"></part>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"></part>
</message>
<message name="getItem">
<part name="parameters" element="tns:getItem"></part>
</message>
<message name="getItemResponse">
<part name="parameters" element="tns:getItemResponse"></part>
</message>
<message name="getHighestBidForItem">
<part name="parameters" element="tns:getHighestBidForItem"></part>
</message>
<message name="getHighestBidForItemResponse">
<part name="parameters" element="tns:getHighestBidForItemResponse"></part>
</message>
<message name="clearDatabase">
<part name="parameters" element="tns:clearDatabase"></part>
</message>
<message name="clearDatabaseResponse">
<part name="parameters" element="tns:clearDatabaseResponse"></part>
</message>
<message name="login">
<part name="parameters" element="tns:login"></part>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"></part>
</message>
<message name="getOfferedItemsForUser">
<part name="parameters" element="tns:getOfferedItemsForUser"></part>
</message>
<message name="getOfferedItemsForUserResponse">
<part name="parameters" element="tns:getOfferedItemsForUserResponse"></part>
</message>
<message name="revokeItem">
<part name="parameters" element="tns:revokeItem"></part>
</message>
<message name="revokeItemResponse">
<part name="parameters" element="tns:revokeItemResponse"></part>
</message>
<message name="findItemByDescription">
<part name="parameters" element="tns:findItemByDescription"></part>
</message>
<message name="findItemByDescriptionResponse">
<part name="parameters" element="tns:findItemByDescriptionResponse"></part>
</message>
<message name="getAmountOfferedItemsForUser">
<part name="parameters" element="tns:getAmountOfferedItemsForUser"></part>
</message>
<message name="getAmountOfferedItemsForUserResponse">
<part name="parameters" element="tns:getAmountOfferedItemsForUserResponse"></part>
</message>
<message name="getCategoryObject">
<part name="parameters" element="tns:getCategoryObject"></part>
</message>
<message name="getCategoryObjectResponse">
<part name="parameters" element="tns:getCategoryObjectResponse"></part>
</message>
<message name="offerItemWithPainter">
<part name="parameters" element="tns:offerItemWithPainter"></part>
</message>
<message name="offerItemWithPainterResponse">
<part name="parameters" element="tns:offerItemWithPainterResponse"></part>
</message>
<portType name="AuctionService">
<operation name="register">
<input wsam:Action="http://webservice.auction/AuctionService/registerRequest" message="tns:register"></input>
<output wsam:Action="http://webservice.auction/AuctionService/registerResponse" message="tns:registerResponse"></output>
</operation>
<operation name="newBid">
<input wsam:Action="http://webservice.auction/AuctionService/newBidRequest" message="tns:newBid"></input>
<output wsam:Action="http://webservice.auction/AuctionService/newBidResponse" message="tns:newBidResponse"></output>
</operation>
<operation name="offerItem">
<input wsam:Action="http://webservice.auction/AuctionService/offerItemRequest" message="tns:offerItem"></input>
<output wsam:Action="http://webservice.auction/AuctionService/offerItemResponse" message="tns:offerItemResponse"></output>
</operation>
<operation name="getMoneyObject">
<input wsam:Action="http://webservice.auction/AuctionService/getMoneyObjectRequest" message="tns:getMoneyObject"></input>
<output wsam:Action="http://webservice.auction/AuctionService/getMoneyObjectResponse" message="tns:getMoneyObjectResponse"></output>
</operation>
<operation name="getAllUsers">
<input wsam:Action="http://webservice.auction/AuctionService/getAllUsersRequest" message="tns:getAllUsers"></input>
<output wsam:Action="http://webservice.auction/AuctionService/getAllUsersResponse" message="tns:getAllUsersResponse"></output>
</operation>
<operation name="getItem">
<input wsam:Action="http://webservice.auction/AuctionService/getItemRequest" message="tns:getItem"></input>
<output wsam:Action="http://webservice.auction/AuctionService/getItemResponse" message="tns:getItemResponse"></output>
</operation>
<operation name="getHighestBidForItem">
<input wsam:Action="http://webservice.auction/AuctionService/getHighestBidForItemRequest" message="tns:getHighestBidForItem"></input>
<output wsam:Action="http://webservice.auction/AuctionService/getHighestBidForItemResponse" message="tns:getHighestBidForItemResponse"></output>
</operation>
<operation name="clearDatabase">
<input wsam:Action="http://webservice.auction/AuctionService/clearDatabaseRequest" message="tns:clearDatabase"></input>
<output wsam:Action="http://webservice.auction/AuctionService/clearDatabaseResponse" message="tns:clearDatabaseResponse"></output>
</operation>
<operation name="login">
<input wsam:Action="http://webservice.auction/AuctionService/loginRequest" message="tns:login"></input>
<output wsam:Action="http://webservice.auction/AuctionService/loginResponse" message="tns:loginResponse"></output>
</operation>
<operation name="getOfferedItemsForUser">
<input wsam:Action="http://webservice.auction/AuctionService/getOfferedItemsForUserRequest" message="tns:getOfferedItemsForUser"></input>
<output wsam:Action="http://webservice.auction/AuctionService/getOfferedItemsForUserResponse" message="tns:getOfferedItemsForUserResponse"></output>
</operation>
<operation name="revokeItem">
<input wsam:Action="http://webservice.auction/AuctionService/revokeItemRequest" message="tns:revokeItem"></input>
<output wsam:Action="http://webservice.auction/AuctionService/revokeItemResponse" message="tns:revokeItemResponse"></output>
</operation>
<operation name="findItemByDescription">
<input wsam:Action="http://webservice.auction/AuctionService/findItemByDescriptionRequest" message="tns:findItemByDescription"></input>
<output wsam:Action="http://webservice.auction/AuctionService/findItemByDescriptionResponse" message="tns:findItemByDescriptionResponse"></output>
</operation>
<operation name="getAmountOfferedItemsForUser">
<input wsam:Action="http://webservice.auction/AuctionService/getAmountOfferedItemsForUserRequest" message="tns:getAmountOfferedItemsForUser"></input>
<output wsam:Action="http://webservice.auction/AuctionService/getAmountOfferedItemsForUserResponse" message="tns:getAmountOfferedItemsForUserResponse"></output>
</operation>
<operation name="getCategoryObject">
<input wsam:Action="http://webservice.auction/AuctionService/getCategoryObjectRequest" message="tns:getCategoryObject"></input>
<output wsam:Action="http://webservice.auction/AuctionService/getCategoryObjectResponse" message="tns:getCategoryObjectResponse"></output>
</operation>
<operation name="offerItemWithPainter">
<input wsam:Action="http://webservice.auction/AuctionService/offerItemWithPainterRequest" message="tns:offerItemWithPainter"></input>
<output wsam:Action="http://webservice.auction/AuctionService/offerItemWithPainterResponse" message="tns:offerItemWithPainterResponse"></output>
</operation>
</portType>
<binding name="AuctionServicePortBinding" type="tns:AuctionService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="register">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="newBid">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="offerItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getMoneyObject">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllUsers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getHighestBidForItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="clearDatabase">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getOfferedItemsForUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="revokeItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findItemByDescription">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAmountOfferedItemsForUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCategoryObject">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="offerItemWithPainter">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="AuctionServiceService">
<port name="AuctionServicePort" binding="tns:AuctionServicePortBinding">
<soap:address location="http://localhost:8080/auction"></soap:address>
</port>
</service>
</definitions>