Client/src/mypackage/auction.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.auction/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://webservice.auction/" name="AuctionServiceService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservice.auction/"
                        schemaLocation="http://localhost:8080/auction?xsd=1"></xsd:import>
        </xsd:schema>
    </types>
    <message name="newBid">
        <part name="parameters" element="tns:newBid"></part>
    </message>
    <message name="newBidResponse">
        <part name="parameters" element="tns:newBidResponse"></part>
    </message>
    <message name="getItem">
        <part name="parameters" element="tns:getItem"></part>
    </message>
    <message name="getItemResponse">
        <part name="parameters" element="tns:getItemResponse"></part>
    </message>
    <message name="revokeItem">
        <part name="parameters" element="tns:revokeItem"></part>
    </message>
    <message name="revokeItemResponse">
        <part name="parameters" element="tns:revokeItemResponse"></part>
    </message>
    <message name="offerItem">
        <part name="parameters" element="tns:offerItem"></part>
    </message>
    <message name="offerItemResponse">
        <part name="parameters" element="tns:offerItemResponse"></part>
    </message>
    <message name="findItemByDescription">
        <part name="parameters" element="tns:findItemByDescription"></part>
    </message>
    <message name="findItemByDescriptionResponse">
        <part name="parameters" element="tns:findItemByDescriptionResponse"></part>
    </message>
    <portType name="AuctionService">
        <operation name="newBid">
            <input wsam:Action="http://webservice.auction/AuctionService/newBidRequest" message="tns:newBid"></input>
            <output wsam:Action="http://webservice.auction/AuctionService/newBidResponse"
                    message="tns:newBidResponse"></output>
        </operation>
        <operation name="getItem">
            <input wsam:Action="http://webservice.auction/AuctionService/getItemRequest" message="tns:getItem"></input>
            <output wsam:Action="http://webservice.auction/AuctionService/getItemResponse"
                    message="tns:getItemResponse"></output>
        </operation>
        <operation name="revokeItem">
            <input wsam:Action="http://webservice.auction/AuctionService/revokeItemRequest"
                   message="tns:revokeItem"></input>
            <output wsam:Action="http://webservice.auction/AuctionService/revokeItemResponse"
                    message="tns:revokeItemResponse"></output>
        </operation>
        <operation name="offerItem">
            <input wsam:Action="http://webservice.auction/AuctionService/offerItemRequest"
                   message="tns:offerItem"></input>
            <output wsam:Action="http://webservice.auction/AuctionService/offerItemResponse"
                    message="tns:offerItemResponse"></output>
        </operation>
        <operation name="findItemByDescription">
            <input wsam:Action="http://webservice.auction/AuctionService/findItemByDescriptionRequest"
                   message="tns:findItemByDescription"></input>
            <output wsam:Action="http://webservice.auction/AuctionService/findItemByDescriptionResponse"
                    message="tns:findItemByDescriptionResponse"></output>
        </operation>
    </portType>
    <binding name="AuctionServicePortBinding" type="tns:AuctionService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="newBid">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getItem">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="revokeItem">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="offerItem">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="findItemByDescription">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="AuctionServiceService">
        <port name="AuctionServicePort" binding="tns:AuctionServicePortBinding">
            <soap:address location="http://localhost:8080/auction"></soap:address>
        </port>
    </service>
</definitions>